<!DOCTYPE html>
<html data-ng-app="TestResultApp">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/Content/favicon.ico"/>
    <title>@ViewBag.Title</title>

    <!-- general scripts -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/angular.js"></script>     
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/scripts/jquery-3.2.1.min.js"></script>  
    <script src="~/scripts/dx.viz-web.js"></script>  
      
    <!-- my custom scripts -->
    <script src="~/customscripts/DatabaseSvc.js"></script>
    <script src="~/customscripts/AppAreaCtrl.js"></script>  
    <script src="~/customscripts/RunCtrl.js"></script>  
    <script src="~/customscripts/GridUtils.js"></script>  
    <script src="~/customscripts/HomeCtrl.js"></script>  
      
    <!-- stylesheets -->
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/Content/dx.spa.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/dx.light.css" />
  </head>
  <body>
    <div ng-controller="HomeCtrl" layout="column" style="height: 100%;">
      <div class="sidebar-overlay"></div>
      <aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
        <div class="sidebar-header header-cover">
            <div class="title">TestResult</div>
        </div>

        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
          <!--
          <li>@Html.ActionLink("Start", "Index", "Home", null,  null)</li>
          -->
          <li>
              <a href="/">Dashboard</a>
          </li>
          <li class="divider"></li>
          <div ng-repeat="menuItem in menuAppAreas">
            <div ng-show="{{ menuItem.DbType === 'MSSQL' }}">
                <li>
                  <a href="/apparea/{{ menuItem.AppArea | lowercase }}">{{ menuItem.AppArea }}
                    <div ng-show="{{ menuItem.ErrorCount > 0 }}">
                      <span class="sidebar-badge badge-circle">{{ menuItem.ErrorCount }}</span>
                    </div>            
                  </a>
                </li>
            </div>
          </div>
        </ul>
      </aside>

      <!-- separate menu and content -->
      <div class="splitter"></div>

      <!-- actual content -->
      <div class="wrapper">
        <div class="constructor">
            @RenderBody()
        </div>
      </div>
    </div>
  </body>
</html>

