<!DOCTYPE html>
<html data-ng-app="TestResultApp">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/Content/favicon.ico"/>
    <title>@ViewBag.Title</title>
      
    @Scripts.Render("~/bundles/jsfiles")
    @Scripts.Render("~/bundles/customscripts")
    @Styles.Render("~/Content/cssfiles")
  </head>
  <body>
    <div ng-controller="HomeCtrl" layout="column" style="height: 100%;">
      <aside id="sidebar" class="sidebar sidebar-default open">
        <div class="title">
            TestResult
        </div>

        <!-- Sidebar navigation -->
        <ul class="sidebar-nav">
          <li>
              <a href="/" target="_parent">Dashboard</a>
          </li>
          <li class="divider"></li>
          <li ng-repeat="menuItem in menuAppAreas" ng-show="{{ menuItem.DbType === 'MSSQL' && menuItem.Version === '5.5' }}">
              <a href="/apparea/{{ menuItem.AppArea | lowercase }}" target="_parent">{{ menuItem.AppArea }}
                  <span ng-show="{{ menuItem.ErrorCount > 0 }}" class="sidebar-badge badge-circle">{{ menuItem.ErrorCount }}</span>
              </a>
          </li>
        </ul>
      </aside>


      <!-- actual content -->
      <div class="wrapper">
          <!-- separate menu and content -->
		  <div class="splitter"></div>
          <div class="content">
            @RenderBody()
        </div>
      </div>
    </div>
  </body>
</html>

