<!DOCTYPE html>
<html data-ng-app="TestResultApp">
  <head>
    <meta charset="utf-8">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/Content/favicon.ico"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/cssfiles")
      
    @Scripts.Render("~/bundles/jsfiles")
    @Scripts.Render("~/bundles/customscripts")
  </head>
  <body>
    <div style="height: 100%;">
      <aside id="sidebar" class="sidebar sidebar-default open">
        <div class="title">
            TestResult
        </div>

        <!-- Sidebar navigation -->
        <ul class="sidebar-nav">
          <li>
              <a href="/" target="_parent">Dashboard</a>
          </li>
          <li>
              <a href="/refresh" target="_parent">Aktualisieren</a>
          </li>
          <li class="divider"></li>
          <li>
              <a href="/apparea/as" target="_parent">As</a>
          </li>
          <li>
              <a href="/apparea/bsgui" target="_parent">BsGui</a>
          </li>
          <li>
              <a href="/apparea/cp" target="_parent">Cp</a>
          </li>
          <li>
              <a href="/apparea/ds" target="_parent">Ds</a>
          </li>
          <li>
              <a href="/apparea/eai" target="_parent">Eai</a>
          </li>
          <li>
              <a href="/apparea/eas" target="_parent">Eas</a>
          </li>
          <li>
              <a href="/apparea/fs" target="_parent">Fs</a>
          </li>
          <li>
              <a href="/apparea/fseba" target="_parent">FsEba</a>
          </li>
          <li class="divider"></li>
          <li>
              <a href="/debug" target="_parent">Fehlersuche</a>
          </li>
        </ul>
      </aside>


      <!-- actual content -->
      <div class="wrapper">
          <!-- separate menu and content -->
		  <div class="splitter"></div>
          <div class="content">
            @RenderBody()
        </div>
      </div>
    </div>
  </body>
</html>

